<mat-toolbar>
    <span>Ab Initio CI/CD</span>
    <div class="spacer"></div>
    
    <mat-checkbox [(ngModel)]="L1" (click)=hello()>L1</mat-checkbox>
    <mat-checkbox [(ngModel)]="L2_CL">L2_CL</mat-checkbox>
    <mat-checkbox [(ngModel)]="L2_SAFE">L2_SAFE</mat-checkbox>
    <mat-checkbox [(ngModel)]="L3_CL">L3_CL</mat-checkbox>
    <mat-checkbox [(ngModel)]="L4_CL_EDC">L4_CL_EDC</mat-checkbox>
    <mat-checkbox [(ngModel)]="L4_CL_WTC">L4_CL_WTC</mat-checkbox>
    <mat-checkbox [(ngModel)]="L5">L5</mat-checkbox>
    <mat-checkbox [(ngModel)]="L6">L6</mat-checkbox>
    <mat-checkbox [(ngModel)]="PROD_EDC">PROD_EDC</mat-checkbox>
    <mat-checkbox [(ngModel)]="PROD_WTC">PROD_WTC</mat-checkbox>
    
  </mat-toolbar>

  